<h1>Palindrome Checker</h1>
<form action="/palindrome" method="post">
  <label for="word">Enter a word or phrase to see if it's a Palindrome:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Check it!</button>
</form>